// this will push a clean commit message for this file because I totally botched my first commit. I will go back and figure out how to edit commit messages if I have time. But as I look at my commit messages, I cringe. So this should overwrite the commit message for this file.




{
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}
